
/*In css we select componets by id,classses or tages
   <!----****ID****----!>
 --we use # for id  ,then the name of the if e.g <p id='book'><p/>
--in css we refer to it by #book{}

   <!----****classes****----!>
   They can be used multiple times in a page
   We give the componet a class name and acept it in css by use of period i.e .
   e.g <p class='book'><p/> 
   in css .book{}

   <!----****tags****----!>
   Theu can only be used  once.They are unique
   We just refer to the tags in html and apply css to all components with same tag
   e.g in html <p>Hand bag<p/> 
                    <p>Groups<p/>
        in css To refer to all p tags 
               p{}

we use
*/

#header{
    color:blue;
    

}

#header h1{
    color: greenyellow;
    font-size: medium;
    font-weight: 300;
}
#header p{
    color: black;
    font-size: medium;
    font-weight: 300;
}
p{
    color:coral;

}

a{
    text-decoration: underline;
    color: Green;
}
.deck{
    color:blueviolet

}

span{
    text-transform: uppercase;
    display: block;
    color:green
}






h4{
    background-color: brown;
}